<div class="container p-4 d-flex flex-column justify-content-center">

  <header>
    <h1>
      Maths Quiz Game :)
    </h1>

    <h4 *ngIf="showScorBoard">Final Score : {{totalscoreboard}}</h4>
  </header>

  <div id='quiz-box' class="d-flex p-2 justify-content-around">
    <div class="box" id="box1" >

      <div class="d-flex flex-column p-4 justify-content-center">
        <div>

          <h2 id="timer1" class="p-2" *ngIf="timer1Flag"> Quiz will start in {{counter1}}s</h2>
        </div>
        <div *ngIf="!startQuizA && !timer1Flag" id="startquizbuton" class="selectedCategories" id="userSelectedVariable">
          <form [formGroup]="formQuiz1" (ngSubmit)="startQuiz1()">
            <div class="d-flex flex-column form-row">

              <label>Max Operand Value </label>
              <input type="number" class="form-control" id="enteredoperandValueQA"
                formControlName="enteredoperandValueQA" placeholder="Max upto 15" />
              <div *ngIf="formQuiz1.get('enteredoperandValueQA')?.errors?.max">Please enter between 0 to 15</div>
            </div>

            <div class="d-flex flex-column">

              <label>Number of Questions you want? </label>
              <input type="number" class="form-control" id="enteredNumQuizA" placeholder="Max upto 20"
                formControlName="enteredNumQuizA" max="20" min="1">
                <div *ngIf="formQuiz1.get('enteredNumQuizB')?.errors">Please enter between 1 to 20</div>
            </div>

            <label>What all operators you want in your quiz? </label>
            <div class="d-flex">
              <div *ngFor="let data of operatorData; let i=index">

                <label class="checkbox-container mx-2">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChange($event)" />
                  {{data.name}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>

            <div class="d-flex flex-column p-2 justify-content-around align-items-center">
              <div>

                <button type="submit" class="btn btn-primary btn-sm" [disabled]="!(formQuiz1.valid)">Start Quiz
                  1</button>
              </div>
              <div>
                <h6 class="fontSize p-2">* Default : operands(less than 10), 20 quiz question and all
                  operators</h6>
              </div>
            </div>
          </form>

        </div>

      </div>

      <div *ngIf="startQuizA" class="quizbox" id="quizbox1">
        <form [formGroup]="playQuiz1">
          <div class="quizSection d-flex flex-row justify-content-center">
            <div class="operand">
              <input type="text" id="operand1" formControlName="operand1QA" readonly>
            </div>

            <div class="operand">
              <input type="text" id="operator" formControlName="operatorQA" readonly>
            </div>

            <div class="operand">
              <input type="text" id="operand2" formControlName="operand2QA" readonly>
            </div>

          </div>
          <div class="d-flex flex-column align-items-center">
            <div class="ans">
              <input type="text" id="userEntered" formControlName="userEntered">
            </div>
            <div class="operand">
              <button type="button" class="btn btn-primary btn-sm" (click)="nextClicked()">Next</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- Quiz 2 BOX -->
    <div class="box" id="box2">
      <div class="d-flex flex-column p-4 justify-content-center">
        <div>

          <h2 id="timer2" class="p-2" *ngIf="timer2Flag"> Quiz will start in {{counter2}}s</h2>
      </div>

      <div *ngIf="!startQuizB && !timer2Flag "  class="selectedCategories" >
        <form [formGroup]="formQuiz2" (ngSubmit)="startQuiz2()">

          <div class="d-flex flex-column form-row">

            <label>Max Operand Value </label>
            <input type="number" class="form-control" id="enteredoperandValueQB"
              formControlName="enteredoperandValueQB" placeholder="Max upto 15" />
            <div *ngIf="formQuiz2.get('enteredoperandValueQB')?.errors?.max">Please enter between 0 to 15</div>
          </div>

          <div class="d-flex flex-column">

            <label>Number of Questions you want? </label>
            <input type="number" class="form-control" id="enteredNumQuizB" placeholder="Max upto 20"
              formControlName="enteredNumQuizB" max="20" min="1">
              <div *ngIf="formQuiz2.get('enteredNumQuizB')?.errors">Please enter between 1 to 20</div>
          </div>

          <label>What all operators you want in your quiz? </label>
            <div class="d-flex">
              <div *ngFor="let data of operatorData; let i=index">

                <label class="checkbox-container mx-2">
                  <input type="checkbox" [value]="data.value" (change)="onCheckboxChangeB($event)" />
                  {{data.name}}
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>

            <div class="d-flex flex-column p-2 justify-content-around align-items-center">
              <div>

                <button type="submit" class="btn btn-primary btn-sm" [disabled]="!(formQuiz2.valid)">Start Quiz
                  2</button>
              </div>
              <div>
                <h6 class="fontSize p-2">* Default : operands(less than 10), 20 quiz question and all
                  operators</h6>
              </div>
            </div>

        </form>
       </div> 

    </div>
      <div *ngIf="startQuizB" class="quizbox" id="quizbox2">
        <form [formGroup]="playQuiz2">

        
        <div class="quizSection d-flex flex-row justify-content-center">

          <div class="operand">
            <input type="text" id="operand1" formControlName="operand1QB" readonly>
          </div>

          <div class="operand">
            <input type="text" id="operator" formControlName="operatorQB" readonly>
          </div>

          <div class="operand">
            <input type="text" id="operand2" formControlName="operand2QB" readonly>
          </div>

        </div>
        <div class="d-flex flex-column align-items-center">
          <div class="ans">
            <input type="text" id="userEntered" formControlName="userEntered">
          </div>
          <div class="operand">
            <button type="button" class="btn btn-primary btn-sm" (click)="nextClickedB()">Next</button>
          </div>
        </div>
      </form>
      </div>
    </div>

  </div>

  <div id='score-board-container' class="d-flex flex-row p-2 justify-content-around showScorBoard" *ngIf ="showScorBoard">
      
    
      <div class="score-board" *ngIf ="scorBoard1">
        <h5> Quiz 1</h5>
        <ul id="scoreboard1" *ngFor="let question of quizQuestionsQA; let i = index">
          <li [ngStyle]="question.color == 'red' ?{'color': 'red'} : {'color': 'green'}">
            Quiz {{i+1}} : {{question.ques}} = {{question.correctAns}}
          </li>

        </ul>
        <div>
          <h4 id="score1">Total Score :{{scoreboard1}}</h4>
        </div>
      </div>
      <div class="score-board" *ngIf ="scorBoard2">
        <h5> Quiz 2</h5>
        <ul id="scoreboard2" *ngFor="let question of quizQuestionsQB ; let i = index">
          <li [ngStyle]="question.color == 'red' ?{'color': 'red'} : {'color': 'green'}">
            Quiz {{i+1}} : {{question.ques}} = {{question.correctAns}}
          </li>

        </ul>
        <div>
          <h4 id="score2">Total Score :{{scoreboard2}}</h4>
        </div>
      </div>
    
  </div>



</div>